@import url(./colors.css);

.alert {
  padding: 1rem 0.9rem;
  border-radius: 10px;
}

.alert-Primary {
  background-color: var(--primary);
}

.alert-secondary {
  background-color: var(--secondary);
}

.alert-success {
  background-color: var(--success-color);
}

.alert-error {
  background-color: var(--error-color);
}

.alert-warning {
  background-color: var(--warning-color);
}
