:root {
  --primary: #acc8e5;
  --secondary: #e06358;
  --orange: #db6400;
  --blue: #82abd7;
  --red: #e06358;
  --gray: #112a46;
  --gray-1: #828282;
  --gray-2: #334155;
  --light-gray: #e6e6e6;
  --light-pink: #ffe0cc;
  --success-color: #2dc653;
  --error-color: #ff2828;
  --warning-color: #ffd037;
}
