@import url(./colors.css);

.toast {
  color: white;
  padding: 1rem;
  border-radius: 0.5rem;
  width: 18rem;
}

.toast p {
  margin-left: auto;
  font-weight: bolder;
  user-select: none;
  cursor: pointer;
}

.success-toast {
  background-color: var(--success-color);
}

.error-toast {
  background-color: var(--error-color);
}

.warning-toast {
  background-color: var(--warning-color);
}
