<html>
    <head>
        <link href="../../styles/style.css" rel="stylesheet"></Link>
        <link href="../../styles/drop.css" rel="stylesheet" />
        <title>Dropcss</title>
    </head>
  <body>
    <navBar >
        <div class="navbar">
            <a href="../../index.html">
                <p class="font-size-4xl">DropCss</p>
            </a>
        </div>
    </navBar>
    <div class="flex">
        <aside class="aside">
            <div >
                <p class="font-size-lg text-semibold">Getting Started</p>
                <ul class="components-list">
                    <li class="text-medium text-gray2 font-size-lg"><a href="getStarted.html">Installation</a></li>
                </ul>
                <p class="font-size-lg text-semibold">Components</p>
                <ul class="components-list font-size-lg text-medium text-gray2">
                    <li ><a href="./alert.html" class="active">Alert</a></li>
                    <li><a href="./avatar.html">Avatar</a></li>
                    <li><a href="./badge.html">Badge</a></li>
                    <li><a href="./button.html">Button</a></li>
                    <li>Card</li>
                    <li>Image</li>
                    <li>Input</li>
                    <li>List</li>
                    <li>Text Utilities</li>
                    <li>Navigation</li>
                    <li>Modal</li>
                    <li>Toast</li>
                    <li>Rating </li>
                    <li>Slider</li>
                    <li>Grid</li>
                </ul>
            </div>
        </aside>
        <main class="main">
            <div>
                <p class="text-gray2 text-medium font-size-2xl">Alert</p>
                <p class="padding-top-4 font-size-lg text-gray line-height">
                    An Alert is a important message which forces the user to focus on it. Here we are displaying alerts in 
                    different styles which is easy to indentify the type of message displayed.
                </p>
                <div class="alert-container">
                    <div class="alert alert-Primary">This is a primary alert</div>
                    <div class="alert alert-secondary margin-top-8">This is a secondary alert</div>
                    <div class="alert alert-success margin-top-8">This is a success alert</div>
                    <div class="alert alert-error margin-top-8">This is a danger alert</div>
                    <div class="alert alert-warning margin-top-8">This is a warning alert</div>
                </div>
                <div class="code-snippet">
                    <iframe
                        src="https://carbon.now.sh/embed/hNOcCPNBv8vgSJQHxqg0"
                        style="width: 100%; height: 366px; border:0; transform: scale(1); overflow:hidden;"
                        sandbox="allow-scripts allow-same-origin">
                    </iframe>
                </div>
            </div>
        </main>
    </div>
  </body>
</html>
