<html>
    <head>
        <link href="../../styles/style.css" rel="stylesheet"></Link>
        <link href="../../styles/drop.css" rel="stylesheet" />
        <title>Dropcss</title>
    </head>
  <body>
    <navBar >
        <div class="navbar">
            <a href="../../index.html">
                <p class="font-size-4xl">DropCss</p>
            </a>
        </div>
    </navBar>
    <div class="flex">
        <aside class="aside">
            <div >
                <p class="font-size-lg text-semibold">Getting Started</p>
                <ul class="components-list">
                    <li class="text-medium text-gray2 font-size-lg"><a href="getStarted.html">Installation</a></li>
                </ul>
                <p class="font-size-lg text-semibold">Components</p>
                <ul class="components-list font-size-lg text-medium text-gray2">
                    <li><a href="./alert.html">Alert</a></li>
                    <li><a href="./avatar.html" class="active">Avatar</a></li>
                    <li><a href="./badge.html">Badge</a></li>
                    <li><a href="./button.html">Button</a></li>
                    <li><a href="./cards.html">Card</a></li>
                    <li><a href="./images.html">Image</a></li>
                    <li>Input</li>
                    <li>List</li>
                    <li>Text Utilities</li>
                    <li>Navigation</li>
                    <li>Modal</li>
                    <li>Toast</li>
                    <li>Rating </li>
                    <li>Slider</li>
                    <li>Grid</li>
                </ul>
            </div>
        </aside>
        <main class="main">
            <div>
                <p class="text-gray2 text-medium font-size-2xl">Avatar</p>
                <p class="padding-top-4 font-size-lg text-gray line-height">
                    An avatar can be used for  graphical representation of a person. In most of the applicantions it is used to show 
                    display pictures or profile pictures of an individual.
                </p>
                <div class="flex">
                    <div class="flex align-center justify-around avatar-container">
                        <img src="../../assets/images/avatarImage.jpg" class="avatar-sm"/>
                        <img src="../../assets/images/avatarImage.jpg" class="avatar-md"/>
                        <img src="../../assets/images/avatarImage.jpg" class="avatar-lg"/>
                    </div>
                    <div class="flex avatar-container justify-around align-center">
                        <div class="avatar">
                            <img src="../../assets/images/avatarImage.jpg" class="avatar-lg"/>
                            <span class="avatar-lg-online"></span>
                        </div>
                        <div class="avatar">
                            <img src="../../assets/images/avatarImage.jpg" class="avatar-md"/>
                            <span class="avatar-md-offline"></span>
                        </div>
                        <div class="avatar">
                            <img src="../../assets/images/avatarImage.jpg" class="avatar-sm"/>
                            <span class="avatar-sm-timer">1min</span>
                        </div>
                    </div>
                </div>
                <div class="code-snippet">
                    <iframe
                        src="https://carbon.now.sh/embed/NWbZrdVTgr8DfGXuEfqK"
                        style="width: 100%; height: 681px; border:0; transform: scale(1); overflow:hidden;"
                        sandbox="allow-scripts allow-same-origin">
                    </iframe>
                </div>
            </div>
        </main>
    </div>
  </body>
</html>
