<html>
  <head>
    <link href="../../styles/style.css" rel="stylesheet" />
    <link href="../../styles/drop.css" rel="stylesheet" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
    />
    <title>Dropcss</title>
  </head>
  <body>
    <navBar>
      <div class="navbar">
        <a href="../../index.html">
          <p class="font-size-4xl">DropCss</p>
        </a>
      </div>
    </navBar>
    <div class="flex">
      <aside class="aside">
        <div>
          <p class="font-size-lg text-semibold">Getting Started</p>
          <ul class="components-list">
            <li class="text-medium text-gray2 font-size-lg">
              <a href="getStarted.html">Installation</a>
            </li>
          </ul>
          <p class="font-size-lg text-semibold">Components</p>
          <ul class="components-list font-size-lg text-medium text-gray2">
            <li><a href="./alert.html">Alert</a></li>
            <li><a href="./avatar.html">Avatar</a></li>
            <li><a href="./badge.html">Badge</a></li>
            <li><a href="./button.html" class="active">Button</a></li>
            <li><a href="./cards.html">Card</a></li>
            <li><a href="./images.html">Image</a></li>
            <li><a href="./inputs.html">Input</a></li>
            <li><a href="./list.html">List</a></li>
            <li><a href="./text.html">Text Utilities</a></li>
            <li><a href="./navigation.html">Navigation</a></li>
            <li><a href="./modal.html">Modal</a></li>
            <li>Toast</li>
            <li>Rating</li>
            <li>Slider</li>
            <li>Grid</li>
          </ul>
        </div>
      </aside>
      <main class="main">
        <div>
          <p class="text-gray2 text-medium font-size-2xl">Button</p>
          <p class="padding-top-2 font-size-lg text-gray line-height">
            Buttons allow an user to take an action like triggering an event,
            opening/closing an application, submitting a form etc.
          </p>
          <div class="btn-container flex justify-around margin-top-2">
            <button class="btn btn-primary">Primary</button>
            <button class="btn btn-secondary">Secondary</button>
            <button class="btn btn-outline-primary">Primary</button>
            <button class="btn btn-outline-secondary">Secondary</button>
            <button class="btn btn-icon">
              <i class="btn-icon-in fa fa-home"></i>Home
            </button>
          </div>
          <div class="code-snippet">
            <iframe
              src="https://carbon.now.sh/embed/V5msOYACA1OHTWCiu0Rx"
              style="
                width: 100%;
                height: 391px;
                border: 0;
                transform: scale(1);
                overflow: hidden;
              "
              sandbox="allow-scripts allow-same-origin"
            >
            </iframe>
          </div>
        </div>
      </main>
    </div>
  </body>
</html>
