<html>
    <head>
        <link href="../../styles/style.css" rel="stylesheet"></Link>
        <link href="../../styles/drop.css" rel="stylesheet" />
    </head>
  <body>
    <navBar >
        <div class="navbar">
            <a href="../../index.html">
                <p class="font-size-4xl">DropCss</p>
            </a>
        </div>
    </navBar>
    <div class="flex">
        <aside class="aside">
            <div >
                <p class="font-size-lg text-semibold">Getting Started</p>
                <ul class="components-list">
                    <li class="text-medium text-gray2 font-size-lg"><a href="getStarted.html" class="active">Installation</a></li>
                </ul>
                <p class="font-size-lg text-semibold">Components</p>
                <ul class="components-list font-size-lg text-medium text-gray2">
                    <li><a href="./alert.html">Alert</a></li>
                    <li><a href="./avatar.html">Avatar</a></li>
                    <li><a href="./badge.html">Badge</a></li>
                    <li><a href="./button.html">Button</a></li>
                    <li><a href="./cards.html">Card</a></li>
                    <li><a href="./images.html">Image</a></li>
                    <li>Input</li>
                    <li>List</li>
                    <li>Text Utilities</li>
                    <li>Navigation</li>
                    <li>Modal</li>
                    <li>Toast</li>
                    <li>Rating </li>
                    <li>Slider</li>
                    <li>Grid</li>
                </ul>
            </div>
        </aside>
        <main class="main">
            <div>
                <p class="text-gray2 text-medium font-size-2xl">Get started</p>
                <p class="padding-top-4 font-size-lg text-gray line-height">Dropcss is a component library where you can easily import it and build your web application more faster and responsive just by dropping css classes.</p>
                <pre>
                    <code class="language-html">&lt;link rel="stylesheet" href="https://dropcss.netlify.app/styles/drop.css &gt;</code>
                </pre>
            </div>
        </main>
    </div>
  </body>
</html>
