<html>
    <head>
        <link href="../../styles/style.css" rel="stylesheet"></Link>
        <link href="../../styles/drop.css" rel="stylesheet" />
    </head>
  <body>
    <navBar >
        <div class="navbar">
            <a href="../../index.html">
                <p class="font-size-4xl">DropCss</p>
            </a>
        </div>
    </navBar>
    <div class="flex">
        <aside class="aside">
            <div >
                <p class="font-size-lg text-semibold">Getting Started</p>
                <ul class="components-list">
                    <li class="text-medium text-gray2 font-size-lg"><a href="getStarted.html">Installation</a></li>
                </ul>
                <p class="font-size-lg text-semibold">Components</p>
                <ul class="components-list font-size-lg text-medium text-gray2">
                    <li><a href="./alert.html">Alert</a></li>
                    <li><a href="./avatar.html">Avatar</a></li>
                    <li><a href="./badge.html">Badge</a></li>
                    <li><a href="./button.html">Button</a></li>
                    <li><a href="./cards.html">Card</a></li>
                    <li><a href="./images.html">Image</a></li>
                    <li><a href="./inputs.html" class="active">Input</a></li>
                    <li><a href="./list.html">List</a></li>
                    <li><a href="./text.html">Text Utilities</a></li>
                    <li>Navigation</li>
                    <li>Modal</li>
                    <li>Toast</li>
                    <li>Rating </li>
                    <li>Slider</li>
                    <li>Grid</li>
                </ul>
            </div>
        </aside>
        <main class="main">
            <p class="text-gray2 text-medium font-size-2xl">Inputs</p>
            <p class="padding-top-4 font-size-lg text-gray line-height">
                As the name suggests, Inputs take input from the user. Mainly we use this in signin/signup, surveys, search fields etc. 
            </p>
            <div class="inputs-container">
                <div class="inputs-wrapper">
                    <input type="text" placeholder="This is basic input field" class="input-styled input-basic"/>
                    <input type="text" placeholder="This is success input field" class="input-styled input-success"/>
                    <input type="text" placeholder="This is error input field" class="input-styled input-error"/>
                </div>
            </div>
            <div class="margin-top-8 code-snippet">
                <iframe
                    src="https://carbon.now.sh/embed/Yiki7R8BRaeWJn6R5SH8"
                    style="width: 100%; height: 279px; border:0; transform: scale(1); overflow:hidden;"
                    sandbox="allow-scripts allow-same-origin">
                </iframe>
            </div>
        </main>
    </div> 
  </body>
</html>
