<html>
    <head>
        <link href="../../styles/style.css" rel="stylesheet"></Link>
        <link href="../../styles/drop.css" rel="stylesheet" />
    </head>
  <body>
    <navBar >
        <div class="navbar">
            <a href="../../index.html">
                <p class="font-size-4xl">DropCss</p>
            </a>
        </div>
    </navBar>
    <div class="flex">
        <aside class="aside">
            <div >
                <p class="font-size-lg text-semibold">Getting Started</p>
                <ul class="components-list">
                    <li class="text-medium text-gray2 font-size-lg"><a href="getStarted.html">Installation</a></li>
                </ul>
                <p class="font-size-lg text-semibold">Components</p>
                <ul class="components-list font-size-lg text-medium text-gray2">
                    <li><a href="./alert.html">Alert</a></li>
                    <li><a href="./avatar.html">Avatar</a></li>
                    <li><a href="./badge.html">Badge</a></li>
                    <li><a href="./button.html">Button</a></li>
                    <li><a href="./cards.html">Card</a></li>
                    <li><a href="./images.html">Image</a></li>
                    <li><a href="./inputs.html">Input</a></li>
                    <li><a href="./list.html">List</a></li>
                    <li><a href="./text.html">Text Utilities</a></li>
                    <li><a href="./navigation.html">Navigation</a></li>
                    <li><a href="./modal.html">Modal</a></li>
                    <li><a href="./toast.html">Toast</a></li>
                    <li><a href="./slider.html" class="active">Slider</a></li>
                    <li><a href="./grid.html">Grid</a></li>
                </ul>
            </div>
        </aside>
        <main class="main">
            <p class="text-gray2 text-medium font-size-2xl">Slider</p>
            <p class="padding-top-2 font-size-lg text-gray line-height">
                Slider component will helps the user to select a value in a given range. 
            </p>
            <div class="inputs-container">
                <div class="inputs-wrapper">
                    <input type="range" />
                </div>
            </div>
            <div class="margin-top-2 code-snippet">
                <iframe
                    src="https://carbon.now.sh/embed/g3LeMdj2hEqwvlogoAHd"
                    style="width: 100%; height: 205px; border:0; transform: scale(1); overflow:hidden;"
                    sandbox="allow-scripts allow-same-origin">
                </iframe>
            </div>
        </main>
    </div> 
  </body>
</html>
